@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "NeulisAlt-SemiBold";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/NeulisAlt-SemiBold.otf") format("opentype"); 
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Bold";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/NeulisAlt-Bold.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Reguler";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/NeulisAlt-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Reguler2";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis2/NeulisAlt-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-MediumItalic";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/NeulisAlt-MediumItalic.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Medium";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/NeulisAlt-Medium.otf") format("opentype");
  font-weight: 400;
}



@font-face {
  font-family: "Neulis-Bold";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/Neulis-Bold.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Neulis-SemiBold";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Neulis/Neulis-SemiBold.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "MiniStory";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/MiniStory/MiniStory.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "MiniStory-Bold";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/MiniStory/MiniStory-Bold.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Montserrat/Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("https://befancy10.github.io/Aksi-Lestari/font/Montserrat/Montserrat-Bold.otf") format("opentype");
  font-weight: 700;
}
.carousel {
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}


/* .button {
  border-radius: 25px;
} */



/* @font-face {
  font-family: "Monserat";
  src: url('https:/https://befancy10.github.io/Aksi-Lestari/fonts.googleapis.com/css?family=Montserrat');
  
} */