@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "NeulisAlt-SemiBold";
  src: url("../aksi-lestari/font/Neulis/NeulisAlt-SemiBold.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Bold";
  src: url("../aksi-lestari/font/Neulis/NeulisAlt-Bold.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Reguler";
  src: url("../aksi-lestari/font/Neulis/NeulisAlt-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Reguler2";
  src: url("../aksi-lestari/font/Neulis2/NeulisAlt-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-MediumItalic";
  src: url("../aksi-lestari/font/Neulis/NeulisAlt-MediumItalic.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NeulisAlt-Medium";
  src: url("../aksi-lestari/font/Neulis/NeulisAlt-Medium.otf");
  font-weight: 400;
}



@font-face {
  font-family: "Neulis-Bold";
  src: url("../aksi-lestari/font/Neulis/Neulis-Bold.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Neulis-SemiBold";
  src: url("../aksi-lestari/font/Neulis/Neulis-SemiBold.otf");
  font-weight: 400;
}

@font-face {
  font-family: "MiniStory";
  src: url("../aksi-lestari/font/MiniStory/MiniStory.otf");
  font-weight: 400;
}

@font-face {
  font-family: "MiniStory-Bold";
  src: url("../aksi-lestari/font/MiniStory/MiniStory-Bold.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../aksi-lestari/font/Montserrat/Montserrat-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../aksi-lestari/font/Montserrat/Montserrat-Bold.otf");
  font-weight: 700;
}
.carousel {
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}


/* .button {
  border-radius: 25px;
} */



/* @font-face {
  font-family: "Monserat";
  src: url('https:/../aksi-lestari/fonts.googleapis.com/css?family=Montserrat');
  
} */