@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Neulis";
  src: url("/font/Neulis/NeulisAlt-SemiBold.otf");
  font-weight: 400;
  
}